@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .date-white::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
}
